name: CI

on:
  push:
    branches: [main]

  pull_request:
    types: [opened, synchronize]
    branches: [main]

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    timeout-minutes: 10
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: package.json
          cache: 'pnpm'
      - name: Install
        run: pnpm install
      - name: Build
        run: pnpm run build
      - name: Format
        run: pnpm run format:check
      - name: Lint
        run: pnpm run lint
      - name: Typecheck
        run: pnpm run typecheck
